// Global font styles and sizes
html {
  font-size: 62.5%;
  font-family: $mainFont;
}

main {
  background-color: oldlace;
}

h1 {
  font-family: $headingFont;
  font-size: 6rem;
  text-align: center;
  padding-top: 100px;
  color: $darkMain;
}

h2 {
  font-size: 2rem;
  padding: 20px 0;
  line-height: 25px;
  text-align: center;
  color: $lightMain;
}

footer {
  font-size: 1.6rem;
  background-color: oldlace;
}

img {
  max-width: 100%;
  display: block;
  width: 500px;
  height: 300px;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
  transition: all 0.3s;
  &:hover,
  &:focus {
    color: green;
    text-decoration: underline;
  }
}

// Wrappers

.wrapper {
  max-width: 1280px;
  margin: 0px auto;
  width: 95%;
}

.footerWrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  padding-bottom: 20px;
}
