// Global font styles and sizes
html {
  font-size: 62.5%;
  font-family: $mainFont;
}

main {
  background-color: oldlace;
}

h1 {
  font-family: $headingFont;
  font-size: 6rem;
  text-align: center;
  padding-top: 100px;
  color: $darkMain;
}

h2 {
  font-size: 2rem;
  padding: 20px 0;
  line-height: 25px;
  text-align: center;
  color: $lightMain;
}

footer {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  display: block;
  width: 500px;
  height: 300px;
  object-fit: cover;
}

// Wrappers

.wrapper {
  max-width: 1280px;
  margin: 0px auto;
  width: 80%;
}

.footerWrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 20px;
}
