header {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  height: 70vh;
}

button {
  background: transparent;
  border: none;
  margin-top: 30px;
}

.soundOff {
  width: 30px;
  height: 30px;
  display: none;
}

.soundOffVisible {
  display: block;
}

.resultGallery {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-gap: 20px;
  grid-auto-rows: 150px;
  grid-auto-flow: dense;
  overflow: hidden;
  padding: 50px 50px 60px 50px;
}

.returnedImage {
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s;
  &:hover,
  &:focus {
    transform: scale(1.05);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

.dropdown {
  padding-top: 30px;
  text-align: center;
  font-size: 1.8rem;
}

// Dropdown menu styling
select {
  appearance: none;
  border: 1px solid $darkMain;
  border-radius: 5px;
  padding: 7px 35px 12px 10px;
  // Arrow by Manaqib S from the Noun Project
  background-image: url(./assets/arrow.svg);
  background-repeat: no-repeat;
  background-position: 95% center;
}

select:hover,
select:focus {
  background-color: lighten($lightMain, 80%);
}
